<html>
<h1 style="text-align: center"> Welcome {{data.FirstName}} <br> Your Details:{{data.Email}}<br>{{data.Contact}}<br>{{data.Address}}<span style="font-family: monospacce"></span></h1>

    
    <!-- <h2 style="text-align: center"> your details:{{data.Email}}<span style="font-family: monospacce"></span></h2>
    <h3 style="text-align: center"> {{data.contact}}<span style="font-family: monospacce"></span></h3>
    <h4 style="text-align: center"> {{data.address}}<span style="font-family: monospacce"></span></h4> -->


<body>
    <button type="button" color="primary"  (click)='getValue2()'>logout</button>
</body>
</html>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>